#gallery{
  padding: 0;
width: 1350px;
margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  
}
.gallery-img{
  
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__item{
  width: 400px;
  margin: 0;
  padding: 0;

    list-style: none;
    display: block;
    /* max-width: 100vh; */
    
}

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }

